CVE-2012-5783 (Medium) detected in commons-httpclient-3.1.jar

## CVE-2012-5783 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>commons-httpclient-3.1.jar</b></p></summary>

<p>The HttpClient  component supports the client-side of RFC 1945 (HTTP/1.0)  and RFC 2616 (HTTP/1.1) , several related specifications (RFC 2109 (Cookies) , RFC 2617 (HTTP Authentication) , etc.), and provides a framework by which new request types (methods) or HTTP extensions can be created easily.</p>
<p>Library home page: <a href="http://jakarta.apache.org/">http://jakarta.apache.org/</a></p>
<p>Path to dependency file: /pom.xml</p>
<p>Path to vulnerable library: /home/wss-scanner/.m2/repository/commons-httpclient/commons-httpclient/3.1/commons-httpclient-3.1.jar</p>
<p>

Dependency Hierarchy:
  - esapi-2.1.0.1.jar (Root Library)
    - antisamy-1.5.3.jar
      - :x: **commons-httpclient-3.1.jar** (Vulnerable Library)
<p>Found in HEAD commit: <a href="https://github.com/hugh-whitesource/Java-Demo-Log4J/commit/4f8aa11da0ed37014d8a671a962840fe2230111e">4f8aa11da0ed37014d8a671a962840fe2230111e</a></p>
<p>Found in base branch: <b>master</b></p>
</p>
</details>
<p></p>
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/medium_vul.png?' width=19 height=20> Vulnerability Details</summary>
<p>  
  
Apache Commons HttpClient 3.x, as used in Amazon Flexible Payments Service (FPS) merchant Java SDK and other products, does not verify that the server hostname matches a domain name in the subject's Common Name (CN) or subjectAltName field of the X.509 certificate, which allows man-in-the-middle attackers to spoof SSL servers via an arbitrary valid certificate.

<p>Publish Date: 2012-11-04
<p>URL: <a href=https://www.mend.io/vulnerability-database/CVE-2012-5783>CVE-2012-5783</a></p>
</p>
</details>
<p></p>
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/cvss3.png' width=19 height=20> CVSS 3 Score Details (<b>4.8</b>)</summary>
<p>

Base Score Metrics:
- Exploitability Metrics:
  - Attack Vector: Network
  - Attack Complexity: High
  - Privileges Required: None
  - User Interaction: None
  - Scope: Unchanged
- Impact Metrics:
  - Confidentiality Impact: Low
  - Integrity Impact: Low
  - Availability Impact: None
</p>
For more information on CVSS3 Scores, click <a href="https://www.first.org/cvss/calculator/3.0">here</a>.
</p>
</details>
<p></p>
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/suggested_fix.png' width=19 height=20> Suggested Fix</summary>
<p>

<p>Type: Upgrade version</p>
<p>Origin: <a href="https://nvd.nist.gov/vuln/detail/CVE-2012-5783">https://nvd.nist.gov/vuln/detail/CVE-2012-5783</a></p>
<p>Release Date: 2012-11-04</p>
<p>Fix Resolution (commons-httpclient:commons-httpclient): 20020423</p>
<p>Direct dependency fix Resolution (org.owasp.esapi:esapi): 2.2.0.0</p>

</p>
</details>
<p></p>

***
<!-- REMEDIATE-OPEN-PR-START -->
- [ ] Check this box to open an automated fix PR 
<!-- REMEDIATE-OPEN-PR-END -->
